/**
* Cambiando estilos para corrección de la plantilla original
**/
.title_carr {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#title_carr {
    display: inline-block;
}
.btnProcPagar {
    position: inherit !important;
    float: right;
}

@media (min-width: 320px) and (max-width: 430px) {
    #title_carr {
        display: block;
    }
    .btnProcPagar {
        float: inherit;
    }
}
@media (min-width: 1199px) and (max-width: 1399px) {
    .shoppingcart ul.nav-mid li:last-child {
        margin-right: -5px;
        margin-left: -5px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {    
    .nombre1linea a {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sns-shopping-cart #sns_content .shoppingcart ul.nav-mid li {
        margin-right: 20px;
    }
    .nombre1linea {
        width: 112px !important;
        line-height: normal !important;
        vertical-align: middle;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .nombre1linea {
        max-width: 170px !important;
        line-height: normal !important;
        vertical-align: middle;
    }
    .price1 {
        width: 126px !important;
    }
    .number {
        width: 170px !important;
    }
    .price2 {
        width: 126px !important;
    }
}

.img_sml_crrt {
    width: auto;
    max-height: 120px;
}
li.image {
    width: 120px !important;
}
.form-bd.cuadro_totales {
    padding-bottom: 30px !important;
}

.message_empty {
    display: block;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}

.subtotal.prc-descuentos {
    font-weight: bold;
}
.subtotal.prc-descuentos span.text1,
.subtotal.prc-descuentos span.text2 {
    color: #0dcaf0d9 !important;
}
.subtotal .badge.rounded-pill.text-bg-info {
    color: white !important;
    margin-left: 10px;
}

#txt_igv {
    font-size: x-small;
    font-weight: 500;
    margin-right: 5px;
}

li.number a {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: -7px;
}
li.number button {
    line-height: normal;
    border: unset;
    background: unset;
    margin-left: 4px;
}
li.number button i {
    vertical-align: top;
}
.shoppingcart ul.title .text1 {
    width: 57%;
}