/**
* Cambiando estilos para corrección de la plantilla original
**/
.title_carr {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#title_carr {
    display: inline-block;
}
.btnProcPagar {
    position: inherit !important;
    float: right;
}

@media (min-width: 320px) and (max-width: 430px) {
    #title_carr {
        display: block;
    }
    .btnProcPagar {
        float: inherit;
    }
}
@media (min-width: 1199px) and (max-width: 1399px) {
    .shoppingcart ul.nav-mid li:last-child {
        margin-right: -5px;
        margin-left: -5px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .nombre1linea a {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sns-shopping-cart #sns_content .shoppingcart ul.nav-mid li {
        margin-right: 20px;
    }
    .nombre1linea {
        width: 112px !important;
        line-height: normal !important;
        vertical-align: middle;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .nombre1linea {
        max-width: 170px !important;
        line-height: normal !important;
        vertical-align: middle;
    }
    .price1 {
        width: 126px !important;
    }
    .number {
        width: 170px !important;
    }
    .price2 {
        width: 126px !important;
    }
}

.img_sml_crrt {
    width: auto;
    max-height: 120px;
}
li.image {
    width: 120px !important;
}
.form-bd.cuadro_totales {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    border-radius: 10px;
    border-width: thin !important;
    margin: auto !important;
}

.message_empty {
    display: block;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}

.subtotal.prc-descuentos {
    font-weight: bold;
}
.subtotal.prc-descuentos span.text1,
.subtotal.prc-descuentos span.text2 {
    color: #0dcaf0d9 !important;
}
.subtotal .badge.rounded-pill.text-bg-info {
    color: white !important;
    margin-left: 10px;
}

.prcDesc {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}
.prcReg {
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    text-align: left;
}
.prcTotalRow {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-top: solid;
    border-width: thin;
    margin-top: 10px;
    padding-top: 10px;
}
.rowPrcRegular {
    font-size: 16px;
}
.rowDesc {
    font-weight: bold;
    font-size: 16px;
}
.prcDescApl {
    color: #0dcaf0d9 !important;
    text-align: left;
    text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 992px) {
    .dscPerctng {
        flex: auto;
    }
}
.txt_igv {
    font-size: x-small !important;
    font-weight: 500;
    margin-right: 5px;
}
.textTotal {
    color: #333 !important;
    font-size: 18px !important;
}
.prcMontoTotal {
    color: #e34444;
}

li.number a {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: -7px;
}
li.number button {
    line-height: normal;
    border: unset;
    background: unset;
    margin-left: 4px;
}
li.number button i {
    vertical-align: top;
}
.shoppingcart ul.title .text1 {
    width: 57%;
}

#codigoCupon {
    border-width: thin;
    border-color: black;
}

#multiplied_prc_2 {
    padding: 0 20px !important;
    text-align: center;
}

/* buttons */
#btnSupPago {
    color: #fff;
    background: #e34444;
}
.btnLimpCarrito {
    color: #fff !important;
    background: #e34444;
}
.btnSeguirComprando {
    color: #fff !important;
    background: #e34444;
}
#btnInfPago {
    color: #fff;
    background: #e34444;
}

/* new style */
.tableContainer {
    border-style: solid;
    border-color: #e34444;
    border-radius: 10px;
    border-width: thin;
    margin-bottom: 10px;
}
.headPrd {
    text-align: left;
}
.table {
    vertical-align: middle;
    margin: auto;
    text-align: center;
}
.imgCartProd {
    height: 120px;
    width: 103px;
    padding: 10px;;
}
.btnDltPrd {
    background: none;
    opacity: 50%;
    border-radius: 100%;
}
.fa.fa-xmark {
    top: 50%;
}
.prdItemName {
    text-align: left;
}
.fa.fa-minus, .fa.fa-plus {
    top: 50%;
}
.continue {
    float: left;
}
.clear {
    float: right;
}
.tltResumenFinal {
    text-align: left;
    font-size: large !important;
}

.btnIrAComprar {
    color: #fff !important;
    background: #e34444;
}