/**
* Modificando estilos de detalle producto
**/
.fa.fa-plus.fa-sm {
    vertical-align: super;
}
.fa.fa-minus.fa-sm {
    vertical-align: super;
}

#nombre_producto {
    cursor: default;
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
    color: #666;
    position: relative;
    top: -5px;
    margin-bottom: 3px;
}

#btnAddProd {
    background: #e34444;
    border: 1px solid #e34444;
    color: #fff;
}