/**
* Estilos para la vista pago
**/
.contenedorGen {
    padding-right: 0px;
    padding-left: 0px;
    border-right-width: 0px;
}
.card-title {
    font-size: xx-large;
}
.card-text {
    font-size: large;
}
#psrl_total_pagar {
    font-weight: bold;
    font-size: initial;
}

p.mb-1 {
    margin-top: 10px;
}
#btn_pagar_culqi {
    border-radius: 3px;
    border-color: purple;
    background: purple;
    color: white;
    width: 63px;
}